REDMINE_DB_POSTGRES=1
REDMINE_DB_DATABASE={{ db_name }}
REDMINE_DB_HOST={{ db_host }}
REDMINE_DB_PORT={{ db_port }}
REDMINE_DB_USERNAME={{ db_user }}
REDMINE_DB_PASSWORD={{ db_password }}
REDMINE_DB_SSLMODE={{ db_sslmode }}
REDMINE_DB_SSLROOTCERT={{ db_sslrootcert }}

RAILS_ENV=production
RAILS_LOG_TO_STDOUT=true

REDMINE_RELATIVE_URL_ROOT=/
REDMINE_SECRET_KEY_BASE={{ lookup('password', '/dev/null chars=ascii_letters,digits,punctuation length=64') }}